.main-nav
  background-color: $light-bg-color

.main-nav__inner
  margin: 0 auto
  +vertical-padding(2)

.main-nav__logo
  background: image-url("logo--small.svg") no-repeat left center
  background-size: contain
  width: 60px
  height: 60px
  margin: 0 auto
  +margin-bottom(3)

.main-nav__space
  flex: 1

.main-nav__item
  display: block
  +margin-top(0.5)
