.photo
  background-color: $light-grey
  color: white
  +padding-top(4)
  overflow: hidden
  text-align: center

.photo__text
  max-width: 600px
  margin: 0 auto
  +padding-bottom(4)
  +body-font-family
  +font-size(gamma)
  line-height: 1.2

.photo__img
  display: block
  overflow: hidden
  max-width: 800px
  margin: 0 auto -6px auto
